<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cabinet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left:50px; padding-right:50px">
    <a class="navbar-brand ml-3" href="#">Money Transfer System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" style="margin-right:50px">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg">
                    Transfer funding's
                </button>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-start" id="search">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".search-modal">
                    Search
                </button>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end">
        <div style="margin-right: 20px">
            <tr th:each="balance : ${balances}">
                <td><span th:text="${balance.currency}"> Currency </span></td>
                <td><span th:text="${balance.amount}"> Amount </span></td>
            </tr>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <form class="flex box-128" action="/logout" method="post">
                    <button class="btn btn-secondary ">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="transfer-modal" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Transfer funding's</h5>
            </div>
            <div class="modal-body" id="modal-body">
                <form method="POST" onsubmit="transfer(event, this)">
                    <div class="ml-2 mt-2 mr-2 mb-2">
                        <div class="form-row mb-3">
                            <div class="form-group col-md-6">
                                <label for="amount">Amount</label>
                                <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount"
                                       required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="currency">Currency</label>
                                <select id="currency" name="currency" class="form-control" required />
                                    <option th:each="currency : ${T(com.example.moneytransfersystem.enums.Currency).values()}"
                                            th:value="${currency}"
                                            th:text="${currency}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sender_firstname">Sender firstname</label>
                                <input type="text" class="form-control" id="sender_firstname" name="senderFirstname"
                                       placeholder="Sender firstname" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sender_surname">Sender surname</label>
                                <input type="text" class="form-control" id="sender_surname" name="senderSurname"
                                       placeholder="Sender surname" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sender_patronymic">Sender patronymic</label>
                                <input type="text" class="form-control" id="sender_patronymic" name="senderPatronymic"
                                       placeholder="Sender patronymic">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sender_phone">Sender phone number</label>
                                <input type="number" class="form-control" id="sender_phone" name="senderPhone"
                                       placeholder="Sender phone number" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="recipient_firstname">Recipient firstname</label>
                                <input type="text" class="form-control" id="recipient_firstname"
                                       name="recipientFirstname" placeholder="Recipient first name" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="recipient_surname">Recipient surname</label>
                                <input type="text" class="form-control" id="recipient_surname" name="recipientSurname"
                                       placeholder="Recipient surname" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="recipient_patronymic">Recipient patronymic</label>
                                <input type="text" class="form-control" id="recipient_patronymic"
                                       name="recipientPatronymic" placeholder="Recipient patronymic">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="recipient_phone">Recipient phone number</label>
                                <input type="number" class="form-control" id="recipient_phone" name="recipientPhone"
                                       placeholder="Recipient phone number" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="description" name="description"
                                       placeholder="Description" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cashbox">Cashbox</label>
                                <select id="cashbox" name="cashboxId" class="form-control" required />
                                    <option th:each="cashbox : ${cashboxes}" th:value="${cashbox.id}"
                                            th:text="${cashbox.name}"></option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Transfer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade search-modal" tabindex="-1" id="search-modal" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search transactions</h5>
            </div>
            <div class="modal-body" id="search-modal-body">
                <form method="POST">
                    <div class="ml-2 mt-2 mr-2 mb-2">
                        <div class="form-row mb-3">
                            <div class="form-group col-md-6">
                                <label for="search-from">From date</label>
                                <input type="datetime-local" class="form-control" id="search-from" name="from"
                                       placeholder="From date"
                                       value="from">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="search-from">To date</label>
                                <input type="datetime-local" class="form-control" id="search-to" name="to"
                                       placeholder="To date"
                                       value="from">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="amount">Amount</label>
                                <input type="number" class="form-control" id="search-amount" name="amount"
                                       placeholder="Amount">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="currency">Currency</label>
                                <select id="search-currency" name="currency" class="form-control">
                                    <option value=""></option>
                                    <option th:each="currency : ${T(com.example.moneytransfersystem.enums.Currency).values()}"
                                            th:value="${currency}"
                                            th:text="${currency}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sender_firstname">Sender firstname</label>
                                <input type="text" class="form-control" id="search-sender_firstname"
                                       name="senderFirstname"
                                       placeholder="Sender firstname">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sender_surname">Sender surname</label>
                                <input type="text" class="form-control" id="search-sender_surname" name="senderSurname"
                                       placeholder="Sender surname">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sender_patronymic">Sender patronymic</label>
                                <input type="text" class="form-control" id="search-sender_patronymic"
                                       name="senderPatronymic"
                                       placeholder="Sender patronymic">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sender_phone">Sender phone number</label>
                                <input type="number" class="form-control" id="search-sender_phone" name="senderPhone"
                                       placeholder="Sender phone number">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="recipient_firstname">Recipient firstname</label>
                                <input type="text" class="form-control" id="search-recipient_firstname"
                                       name="recipientFirstname" placeholder="Recipient first name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="recipient_surname">Recipient surname</label>
                                <input type="text" class="form-control" id="search-recipient_surname"
                                       name="recipientSurname"
                                       placeholder="Recipient surname">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="recipient_patronymic">Recipient patronymic</label>
                                <input type="text" class="form-control" id="search-recipient_patronymic"
                                       name="recipientPatronymic" placeholder="Recipient patronymic">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="recipient_phone">Recipient phone number</label>
                                <input type="number" class="form-control" id="search-recipient_phone"
                                       name="recipientPhone"
                                       placeholder="Recipient phone number">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="search-description" name="description"
                                       placeholder="Description">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cashbox">Status</label>
                                <select id="search-status" name="status" class="form-control">
                                    <option value=""></option>
                                    <option th:each="status : ${T(com.example.moneytransfersystem.enums.TransactionStatus).values()}"
                                            th:value="${status}"
                                            th:text="${status}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cashbox">Cashbox</label>
                                <select id="search-cashbox" name="cashboxId" class="form-control">
                                    <option value=""></option>
                                    <option th:each="cashbox : ${cashboxes}" th:value="${cashbox.id}"
                                            th:text="${cashbox.name}"></option>
                                </select>
                            </div>
                        </div>
                        <button type="button" onclick="search(this.form)" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade search-modal" tabindex="-1" id="modal-message" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="modal-message-body">
            </div>
        </div>
    </div>
</div>

<div class="container w-75 mt-3">
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
           width="100%">
        <thead>
        <tr>
            <th class="th-sm">id</th>
            <th class="th-sm">amount</th>
            <th class="th-sm">currency</th>
            <th class="th-sm">sender</th>
            <th class="th-sm">sender phone</th>
            <th class="th-sm">recipient</th>
            <th class="th-sm">recipient phone</th>
            <th class="th-sm">description</th>
            <th class="th-sm">created</th>
            <th class="th-sm">code</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="transaction: ${transactions}">
            <td th:text="${transaction.id}"/>
            <td th:text="${transaction.amount}"/>
            <td th:text="${transaction.currency}"/>
            <td th:text="${transaction.sender}"/>
            <td th:text="${transaction.senderPhone}"/>
            <td th:text="${transaction.recipient}"/>
            <td th:text="${transaction.recipientPhone}"/>
            <td th:text="${transaction.description}"/>
            <td th:text="${#temporals.format(transaction.created_at, 'dd-MM-yyyy HH:mm')}"/>
            <td th:text="${transaction.code != null} ? ${transaction.code} : '-'"/>
            <td th:if="${transaction.code != null} and ${transaction.status != T(com.example.moneytransfersystem.enums.TransactionStatus).ISSUED}">
                <form class="flex box-128" th:attr="onclick=|issue('${transaction.id}')|">
                    <button type="button" class="btn btn-secondary">Issue</button>
                </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>id</th>
            <th>amount</th>
            <th>currency</th>
            <th>sender</th>
            <th>sender phone</th>
            <th>recipient</th>
            <th>recipient phone</th>
            <th>description</th>
            <th>created</th>
            <th>code</th>
        </tr>
        </tfoot>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>

    $('#modal-message').on('hidden.bs.modal', function () {
        location.reload();
    })

    async function search(form) {
        let data = new FormData(form);
        let response = await fetch("/api/transactions?" + new URLSearchParams({
            "from": data.get("from"),
            "to": data.get("to"),
            "amount": data.get("amount"),
            "currency": data.get("currency"),
            "senderFirstname": data.get("senderFirstname"),
            "senderSurname": data.get("senderSurname"),
            "senderPatronymic": data.get("senderPatronymic"),
            "senderPhone": data.get("senderPhone"),
            "recipientFirstname": data.get("recipientFirstname"),
            "recipientSurname": data.get("recipientSurname"),
            "recipientPatronymic": data.get("recipientPatronymic"),
            "recipientPhone": data.get("recipientPhone"),
            "description": data.get("description"),
            "status": data.get("status"),
            "toCashboxId": data.get("cashboxId")
        }))

        if (response.ok) {
            let transactionsJson = await response.json();
            let transactions = []
            for (let i = 0; i < transactions.length; i++) {
                let tr = new transaction(
                    transactionsJson[i].id,
                    transactionsJson[i].amount,
                    transactionsJson[i].currency,
                    transactionsJson[i].sender,
                    transactionsJson[i].senderPhone,
                    transactionsJson[i].recipient,
                    transactionsJson[i].recipientPhone,
                    transactionsJson[i].description,
                    transactionsJson[i].created_at,
                    transactionsJson[i].code,
                    transactionsJson[i].status
                )
                transactions.push(tr)
            }
            showTransactions(transactionsJson)
        } else {
            alert("Sorry, Server error");
        }
    }

    function showTransactions(transactions) {
        document.getElementById("tbody").remove()
        let body = document.getElementById("dtBasicExample")
        let tbody = document.createElement("tbody")
        tbody.setAttribute("id", "tbody")
        body.appendChild(tbody)
        for (let i = 0; i < transactions.length; i++) {
            let content = createTransactionElem(transactions[i]);
            tbody.appendChild(content);
        }
    }

    function createTransactionElem(transaction) {
        let content =
            '<td>' + transaction.id + '</td>' +
            '<td>' + transaction.amount + '</td>' +
            '<td>' + transaction.currency + '</td>' +
            '<td>' + transaction.sender + '</td>' +
            '<td>' + transaction.senderPhone + '</td>' +
            '<td>' + transaction.recipient + '</td>' +
            '<td>' + transaction.recipientPhone + '</td>' +
            '<td>' + transaction.description + '</td>' +
            '<td>' + transaction.created_at + '</td>' +
            '<td>' + (transaction.code != null ? transaction.code : '-') + '</td>';

        if (transaction.code != null && transaction.status !== 'ISSUED') {
            content = content +
                '<td>' +
                '<form class="flex box-128" th:attr="onclick=|issue(\'${transaction.id}\')|">' +
                '<button type="button" class="btn btn-secondary">Issue</button>' +
                '</form>' +
                '</td>';
        }
        let element = document.createElement('tr');
        element.innerHTML = content;
        return element;
    }

    class transaction {
        constructor(
            id,
            amount,
            currency,
            sender,
            senderPhone,
            recipient,
            recipientPhone,
            description,
            created_at,
            code,
            status
        ) {
            this.id = id;
            this.amount = amount;
            this.currency = currency;
            this.sender = sender;
            this.senderPhone = senderPhone;
            this.recipient = recipient;
            this.recipientPhone = recipientPhone;
            this.description = description;
            this.created_at = created_at;
            this.code = code;
            this.status = status;
        }
    }

    async function transfer(event, form) {
        event.preventDefault();

        let data = new FormData(form);
        let jsonData = toJson(data)
        let response = await fetch("/api/transactions", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        });

        console.log("response: ", response)

        if (response.ok) {
            let transactionCode = await response.json();
            showTransactionCode(transactionCode.code);
        } else {
            alert("Sorry, Server error");
        }
    }

    async function issue(transactionId) {
        let response = await fetch("/api/transactions/complete/" + transactionId, {
            method: "PUT",
            headers: {
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            showSuccessModal();
        } else {
            alert("Sorry, Server error");
        }
    }

    function showTransactionCode(transactionCode) {
        $('#transfer-modal').modal('hide')

        let modalBody = document.getElementById("modal-message-body")
        modalBody.innerHTML = '';

        let content = createItemElem(transactionCode);
        modalBody.appendChild(content);

        $('#modal-message').modal('show')
    }

    function createItemElem(transactionCode) {
        let content = '<span> Transaction code: ' + transactionCode + '</span>';
        let element = document.createElement('div');
        element.innerHTML = content;
        return element;
    }

    function toJson(formData) {
        const object = {};
        formData.forEach(function (value, key) {
            object[key] = value;
        });
        return JSON.stringify(object);
    }

    function showSuccessModal() {
        $('#transfer-modal').modal('hide')

        let modalBody = document.getElementById("modal-message-body")
        modalBody.innerHTML = '';

        let content = createIssueMessage();
        modalBody.appendChild(content);

        $('#modal-message').modal('show')
    }

    function createIssueMessage() {
        let content = '<span> Transaction successfully issued </span>';
        let element = document.createElement('div');
        element.innerHTML = content;
        return element;
    }

    function createMessage() {
        let content = '<span> Transfer completed! </span>';
        let element = document.createElement('div');
        element.innerHTML = content;
        return element;
    }
</script>
</body>
</html>
